.container.teams
	.panel.panel-primary
		.panel-heading
			%p.page-title.text-uppercase.text-center Qualifier Teams
		.panel-body
			.row
				.col-md-4
					%p <span class="label label-danger filter-title"> REGIONS </span>
					.list-group
						- Region.all.each do |region|
							= link_to region.name, select_region_teams_path(region_id: region.id), class: "list-group-item region-name", id: "myregion#{region.id}", remote: true, method: :get
				.col-md-8
					%p <span class="label label-success filter-title"> TEAMS </span>
					#myteam
						= render "teams"
				

	#teamshow
		= render "team"

		

