.container
	%p.page-title.text-uppercase Qualifier Teams
	.panel.panel-default
		.dropdown
			%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
				Select Qualifier
				%span.caret
			%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
				- Region.all.each do |r|
					%li
						%a{:href => "#"}
							= r.name

