%link{:href => "//blueimp.github.io/Gallery/css/blueimp-gallery.min.css", :rel => "stylesheet"}
%br
.container.teams
	.panel.panel-primary
		.panel-heading
			%p.page-title.text-uppercase.text-center= t("team.title")
		.panel-body
			.row
				.col-xs-8
					%p
						%span.label.label-success.filter-title= t("team.winner")

					#myteam
						= render "teams"
				

	#teamshow
		= render "team"

		

