#blueimp-gallery.blueimp-gallery
	/ The container for the modal slides
	.slides
	/ Controls for the borderless lightbox
	%h3.title
	%a.prev ‹
	%a.next ›
	%a.close ×
	%a.play-pause
	%ol.indicator
	/ The modal dialog, which will be used to wrap the lightbox content
	.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-hidden" => "true", :type => "button"} &times;
					%h4.modal-title
				.modal-body.next
				.modal-footer
					%button.btn.btn-default.pull-left.prev{:type => "button"}
						%i.glyphicon.glyphicon-chevron-left
						Previous
					%button.btn.btn-primary.next{:type => "button"}
						Next
						%i.glyphicon.glyphicon-chevron-right
#links
	.row
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
	%br			
	.row
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
		.col-md-2
			%a{"data-gallery" => "", :href => asset_path("carousel1.jpg"), :title => "Banana"}
				%img{:alt => "Banana", :src => asset_path("carousel1_thumbnail.jpg"), class: "thumbnail"}
