#blueimp-gallery.blueimp-gallery
	/ The container for the modal slides
	.slides
	/ Controls for the borderless lightbox
	%h3.title
	%a.prev ‹
	%a.next ›
	%a.close ×
	%a.play-pause
	%ol.indicator
	/ The modal dialog, which will be used to wrap the lightbox content
	.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-hidden" => "true", :type => "button"} &times;
					%h4.modal-title
				.modal-body.next
				.modal-footer
					%button.btn.btn-default.pull-left.prev{:type => "button"}
						%i.glyphicon.glyphicon-chevron-left
						Previous
					%button.btn.btn-primary.next{:type => "button"}
						Next
						%i.glyphicon.glyphicon-chevron-right
#links
	- size = @gallery_photos.size
	- i = 0
	- @gallery_photos.each do |g|
		- if i % 6 == 0
			.row
				.col-md-2
					%a{"data-gallery" => "", :href => g.photo.url}
						%img{:alt => "Photo", :src => g.photo.url(:thumb), class: "thumbnail"}
		- else
			.col-md-2
				%a{"data-gallery" => "", :href => g.photo.url}
					%img{:alt => "Photo", :src => g.photo.url(:thumb), class: "thumbnail"}