.row.match
	.col-md-4.text-left
		%p.location-name មណ្ឌលរាជធានីភ្នំពេញ
		%p.team-name យុវជនបុរីកីឡា
	.col-md-4.text-center
		%p.date-style ថ្ងៃអង្គារ 23/02/2016
		%p.group-text <strong> ពូល A </strong>
		%p.score 0-3
		%kbd 10-15
		%kbd 10-15
		%kbd 10-15
	.col-md-4.text-right
		%p.location-name មណ្ឌលសៀមរាប
		%p.team-name យុវជនសាមគ្គី

%hr.divider