.row.match
	.col-md-4.text-left
		%p <strong> BATTAMBONG </strong> 
		%p.team-name Interior Ministry
	.col-md-4.text-center
		%span.label.label-success <small> 23 February 2016, 16:10 </small>
		%p <strong> GROUP A </strong>
		%p.score 0-3
		%kbd 10-15
		%kbd 10-15
		%kbd 10-15
	.col-md-4.text-right
		%p <strong> SIEM REAP </strong>
		%p.team-name Security Gaurd A

%hr.divider