.panel.panel-primary
	.panel-heading
		%p.text-center Live Tournament
		%h3.text-uppercase.text-center=@current_tournament.name
	.panel-body
		.row
			- @current_tournament.pools.each do |pool|
				.col-md-6
					.list-group
						.list-group-item.list-group-item-header
							%h5.group-text= pool.name
						- pool.teams.each do |team|
							%a.list-group-item{href: team_path(team)}
								%p.text-uppercase.group-text
									= team.name
									%span.glyphicon.glyphicon-chevron-right
						
		/ .panel.panel-info
		/ 	.panel-heading
		/ 		%h4.text-uppercase.text-center Matches
		/ 	.panel-body
		/ 		%hr.divider	
		/ 		= render "share/match"
		/ 		= render "share/match"

