.panel.panel-default
	.panel-heading
		%p.panel-header-text.text-center.text-danger.red-title= t("home.gallery")
	.panel-body
		.text-center
			= render "share/fb_share", locals: {url: root_path}
		%br
		= render "share/gallery"

