.panel.panel-primary
	.panel-heading.text-center 
		%h3 LATEST RESULTS
	.panel-body
		.row
			.col-md-4.text-left
				%p BATTAMBONG 
				%p.small 23 February 2016
				%p LOREM IPSUM A1
			.col-md-4.text-center
				%p GROUP A
				%p 0-3
				%kbd 10-15
				%kbd 10-15
				%kbd 10-15
			.col-md-4.text-right
				%p SIEM REAP
				%p DOLOR SITA AMINA A2
		%hr.divider
		.row
			.col-md-4.text-left
				%p.small BATTAMBONG 23 February 2016
				%p LOREM IPSUM A1
			.col-md-4.text-center
				%p GROUP A
				%p 0-3
				%kbd 10-15
				%kbd 10-15
				%kbd 10-15
			.col-md-4.text-right
				%p SIEM REAP
				%p DOLOR SITA AMINA A2
		%hr.divider
		.row
			.col-md-12.text-center
				%button.btn.btn-primary 
					SEE ALL RESULT
					%span.glyphicon.glyphicon-chevron-right