.panel.panel-primary
	.panel-heading.text-center.panel-header-text 
		%h3 លទ្ធផលចុងក្រោយ
	.panel-body
		= render "share/match"
		= render "share/match"
		.row
			.col-md-12.text-center
				%button.btn.btn-primary 
					SEE ALL RESULT
					%span.glyphicon.glyphicon-chevron-right