.panel.panel-default
	.panel-heading.text-center.panel-header-text 
		%p.text-danger លទ្ធផលចុងក្រោយ
	.panel-body
		= render "share/match"
		= render "share/match"
		.row
			.col-md-12.text-center
				%button.btn.btn-success
					SEE ALL RESULT
					%span.glyphicon.glyphicon-chevron-right