.container#myCarousel.carousel.slide
	/ Indicators
	%ol.carousel-indicators
		%li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
		%li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
	/ Wrapper for Slides
	.carousel-inner
		- SliderPhoto.all.each do |slide|
			.item.active
				.fill{:style => "background-image:url(#{slide.photo.url});"}
				.carousel-caption
					%h2= slide.caption
	/ Controls
	%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
		%span.icon-prev
	%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
		%span.icon-next
%br