- if @current_voted_teams.present?
  %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} See Your Votes
- else
  .col-xs-8{style: "margin-bottom: 0px;"}
    
  .col-xs-3
    = link_to "Save Vote","/", class: "btn btn-lg btn-primary",id: "save_vote_btn", style: "height: 51px;"

/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center.text-khmer= t "home.vote_question"
      .modal-body
        .list-group
          - Team.where(id: @current_voted_teams).each do |team|
            .btn.list-group-item.text-khmer{id: "voteteam_x_#{team.id}", class: "vote_team active"}= team.name
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close