%ul.nav.nav-pills.nav-justified.text-khmer-bold
	%li.text-uppercase{:role => "paresentation", id: "filter_not_completed"}
		= link_to t("match.complete_matches"), select_matches_matches_path(id: @current_tournament.id, is_completed: true), remote: true, method: :get
	%li.text-uppercase{:role => "presentation"}
		= link_to t("match.incomplete_matches"), select_matches_matches_path(id: @current_tournament.id, is_completed: false), remote: true, method: :get
	%li.text-uppercase{:role => "presentation"}
		= link_to t("match.all_matches"), select_matches_matches_path(id: @current_tournament.id), remote: true, method: :get
	