.container
	.panel.panel-primary
		.panel-heading
			%p.page-title.text-center.text-danger Schedule & Results
		.panel-body
			.row
				.col-md-4
					.dropdown
						%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
							Select Tournament
							%span.caret
						%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
							- Tournament.all.each do |t|
								%li
									%a{:href => "#"}= t.name									
				.col-md-4
					%p.team-name POOL A
					%hr.divider
					.row
						.col-md-12
							%p Team 1
					.row
						.col-md-12
							%p Team 2
					.row
						.col-md-12
							%p Team 3
					.row
						.col-md-12
							%p Team 4
				.col-md-4
					%p.team-name POOL B
					%hr.divider
					.row
						.col-md-12
							%p Team 5
					.row
						.col-md-12
							%p Team 6
					.row
						.col-md-12
							%p Team 7
					.row
						.col-md-12
							%p Team 8
		
			%br
			.panel.panel-default	
				%ul.nav.nav-pills.nav-justified
					%li{:role => "presentation"}
						%a{:href => "#"} ALL MATCHES
					%li{:role => "paresentation"}
						%a{:href => "#"} COMPLETED MATCHES
					%li{:role => "presentation"}
						%a{:href => "#"} UPCOMING MATCHES
			
			
			.panel.panel-default
				.panel-heading
					%p.text-uppercase.text-center.red-title Matches
				.panel-body
					= render "share/match"
					= render "share/match"