.container.footer
	%hr.divider
	.row
		.col-md-2.footer-left
			%h5 Official Sponsor
			= image_tag "logo_bottom.png", class: "img-responsive inline-block"
		.col-md-8.footer-mid
			%br
			%p.text-center.text-uppercase The official website of
			%h4.text-center.text-uppercase The Leo Beer National Volley Ball Cup 2016

		.col-md-2.footer-right
			%br
			%p Back to top
			%p <large>©</large><small> Designed by Drrr Studio </small>
	%hr.divider