.container.footer
	%hr.divider
	.row
		.col-md-2.footer-left
			%h5 Official Sponsor
			= image_tag "logo_bottom.png", class: "img-responsive inline-block"
		.col-md-10.footer-right
			%br
			%p.text-right.text-uppercase The official website of
			%h4.text-right.text-uppercase The Leo Cup National Volley Ball 2016

			/.col-md-3.footer-right
			/ %br
			/ .row
			/ 	.col-md-12.text-right
			/ 		%p <small> Designed & Developed by </small>
			/ 	.col-md-12.text-right
			/ 		= link_to "DrrRa Creative Studio", "http://drrra.com/", style: "color: white; font-weight: bold;"
	%hr.divider