.container.footer
	%hr.divider
	.row
		.col-md-2.footer-left
			%h5 Official Sponsor
			= image_tag "logo_bottom.png", class: "img-responsive inline-block"
		.col-md-7.footer-mid
			%br
			%p.text-center.text-uppercase The official website of
			%h4.text-center.text-uppercase The Leo Beer National Volley Ball Cup 2016

		.col-md-3.footer-right
			%br
			.row
				.col-md-12.text-right
					%p <small> Designed & Developed by </small>
				.col-md-12.text-right
					= link_to "DrrRa Creative Studio", "http://drrra.com/", style: "color: white; font-weight: bold;"
	%hr.divider
	= image_tag "logo_bottom.jpg"