.container
	%nav.navbar.navbar-top{:role => "navigation"}
		.container
			/ Brand and toggle get grouped for better mobile display
			.navbar-header
				%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
					%span.sr-only Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
					%a{:href => "#"} HOME
			/ Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				%ul.nav.navbar-nav
					%li
						%a{:href => "#"} QUALIFIERS
					%li
						%a{:href => "#"} SCHEDULE & RESULTS
					%li
						%a{:href => "#"} NEWS